@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@font-face {
  font-family: "agcoopercyr";
  src: url("../fonts/AGCOO14.woff");
}
.txt-primary {
  color: #FFA134;
}

.txt-secondary {
  color: #CB0026;
}

body {
  background-image: linear-gradient(177deg, rgb(33, 1, 1), rgba(255, 7, 7, 0)), url(../images/TIOS-FI-Main-ITF18_Newsies_JN-2605.jpg.webp);
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: repeat-y;
}

.site-header {
  background: #000;
}
.site-header .site-nav-link {
  text-transform: uppercase;
  padding: 4px 24px;
  background: #000000;
  outline: 5px solid white;
  text-decoration: none;
  font-size: 1.7rem;
  outline: 3px solid #ffa134;
  color: #ffffff;
  border-radius: 33px;
  background: #000000;
  box-shadow: 1px 0px 20px 20px rgba(255, 0, 0, 0.3294117647);
  font-family: "agcoopercyr";
}
.site-header .site-nav-link:hover {
  background: #CB0026;
  color: #000;
}
@media (max-width: 768px) {
  .site-header .brand {
    width: 70%;
    text-align: center;
  }
}
.site-header .social {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  align-items: center;
  justify-content: center;
}
.site-header .social a {
  text-decoration: none;
  border: 1px solid #FFA134;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: 6px;
  border-radius: 50%;
  color: #000;
  background: #FFA134;
  transition: all 0.4s ease-in-out;
  display: none;
}
.site-header .social a:hover {
  background: #FFA134;
  color: #fff;
  transform: translateY(-4px);
}

.ls {
  letter-spacing: 15px;
}

.events {
  height: auto;
  padding-top: 55px;
}
.events .event-box {
  padding: 7px;
  background-color: rgba(241, 241, 241, 0.5215686275);
  margin-bottom: 5px;
}
.events .event-box .info {
  background: #fff;
  text-align: center;
  padding: 15px 10px;
  text-transform: uppercase;
  transition: all 0.6s ease-in-out;
}
.events .event-box .info h5 {
  text-align: center;
  font-size: 0.9em;
  color: #3a4045;
  font-weight: 600;
  text-transform: uppercase;
}
.events .event-box .info h5 .decription {
  text-transform: uppercase;
  display: block;
  font-size: 0.8em;
  color: #888;
  letter-spacing: 2px;
  margin-top: 0.5em;
}
.events .event-box .info:hover {
  background: #212529;
}
.events .event-box .info:hover h5 {
  color: #fff;
}
.events .event-box .info:hover h5 .decription {
  color: #fff;
}

.btn-theme {
  padding: 10px 20px;
  border-radius: 27px;
  background: #FFA134;
  text-align: center;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  border: 0;
  font-weight: bold;
}
.btn-theme:hover {
  color: #fff;
  background: #CB0026;
}

.title {
  font-size: 1.9em;
  color: #3c3c3c;
  letter-spacing: 1px;
  position: relative;
  font-weight: 600;
  line-height: 1.6em;
  margin-bottom: 0.3em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-submit {
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: capitalize;
  display: inline-block;
  background: #FFA134;
  color: #000;
  width: 100%;
  line-height: 2.5;
  transition: all 0.4s ease-in-out;
  border-radius: 25px;
  text-transform: uppercase;
  border: 0;
  font-weight: bold;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4509803922);
}
.btn-submit:hover {
  color: #fff;
  background: #CB0026;
}

.contact {
  background: #F7F7F7;
}
.contact label {
  color: #777879;
  font-weight: 600;
  font-size: 0.9em;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.bottom-part .items {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-part .items:nth-child(1) {
  background: #FFA134;
}
.bottom-part .items:nth-child(2) {
  background: #F1F1F1;
}
.bottom-part .items:nth-child(3) {
  background: #000;
}

.h2font2 {
  font-family: "montserrat";
  font-size: 2rem;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 15px;
  margin-bottom: 1rem;
  font-weight: 600;
}

.pfooter2 {
  font-family: "montserrat";
  font-size: 1rem;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  display: inline-block;
  word-break: break-word;
}

.txt-stroke {
  font-family: "agcoopercyr";
  color: #ff0000 !important;
  text-shadow: 0px -2px 20px #ff0000;
  -webkit-text-stroke: 1px #fff;
}

.form-control:focus {
  outline: 2px solid #FFA134;
  border-color: transparent;
  box-shadow: none;
}/*# sourceMappingURL=app.css.map */